node_modules
public/admin-assets/css/app-*
public/admin-assets/js/app-*
public/admin-assets/js/vendor-*
public/admin/index.html
public/assets/*
public/static/*
themes/current/dist/*
dist/*
config/*
logs/*
npm-debug.log*
*.zip
