node_modules
public/admin-assets/css/bundle-*
public/admin-assets/js/app-*
public/admin-assets/js/vendor-*
public/admin/index.html
public/assets/*
public/static/*
theme/dist/*
theme/assets/js/bundle-*
theme/assets/css/bundle-*
theme/assets/index.html
dist/*
config/*
npm-debug.log*
*.zip
