node_modules
public/admin-assets/js/app-*
public/admin-assets/js/vendor-*
public/admin-assets/css/bundle-*
public/admin/index.html
public/content/*
!public/content/*.md
theme/dist/*
theme/assets/js/app-*
theme/assets/js/theme-*
theme/assets/css/bundle-*
theme/assets/index.html
dist/*
logs/*.log
npm-debug.log*
*.zip
docs/*
