.customerName {
  text-decoration: none;
  font-weight: 400;
  color: rgb(0,142,180);
}

.customerName small {
  color: rgba(0, 0, 0, 0.4);
}

.location {
  color: rgba(0, 0, 0, 0.4);
}

.price {
  word-break: break-all;
  text-align: right;
  margin-right: 10px;
}

.more {
  padding: 40px 0;
  text-align: center;
}
