.category-title {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.125;
}

.category-description {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  margin-top: 0.75rem;
}

.sort-title {
  color: #636363;
  text-align: right;
}

.hero-body .breadcrumb {
  margin-bottom: 0.5rem;
}

.hero.is-light .breadcrumb a {
  color: #7a7a7a;
}

.left-sidebar {
  background-color: whitesmoke;
  padding: 1.5rem;
}

.sidebar {
  z-index: 1000;
  background: #fff;
  overflow: auto;
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.categories-tree li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #333;
  padding-top: 6px;
  padding-bottom: 6px;
}

.price-filter {
  margin: 40px 0;
}

.price-filter-range {
  margin: 10px 0;
}

.price-filter-values {
  font-size: 0.75rem;
  color: #636363;
}

.load-more {
  margin: 30px 0;
}

.load-more button {
  max-width: 360px;
  margin: 0 auto;
}

.large-image-placeholder,
.small-image-placeholder,
.lazyload-placeholder {
  background: #f7f7f7;
}

.small-image-placeholder {
  height: 200px;
}

.large-image-placeholder {
  height: 160px;
}

.attribute {
  margin-bottom: 2rem;
}

.attribute-title {
  margin-bottom: 6px;
  color: #333;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
}

.attribute label {
  cursor: pointer;
  font-size: 0.75rem;
  padding: 2px 0px 0px 6px;
  margin: 2px 0px 0px 0px;
  color: #636363;
  align-items: center;
  display: flex;
  line-height: 1.2;
}

.attribute label:hover {
  background: rgba(0,0,0,0.05);
}

.attribute label.attribute-checked {
  color: #000;
}

.attribute label.attribute-disabled {
  color: #a1a1a1;
}

.attribute label input {
  margin-right: 6px;
}

.products {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.products.loading {
  opacity: 0.5;
}

.products figure.image {
  overflow: hidden;
  text-align: center;
}

.products .image img {
  display: inline;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

.products .out_of_stock .image img,
.products .discontinued .image img {
  opacity: 0.5;
}

.products .column a {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  transform: none;
  transition: transform 200ms ease-out;
}

.products .column a:active {
  transform: perspective(500px) rotateX(0deg) rotateY(0deg) translateZ(-30px);
}

.products .product-caption {
  text-align: center;
  margin-top: 0.25rem;
}

.products .product-name {
  color: #333;
  font-size: 0.9rem;
}

.products .product-price {
  color: #636363;
}

.products .product-old-price {
  padding-left: 10px;
  color: #636363;
}

.products .product-new-price {
  color: #e72b1e;
}

.products .out_of_stock .product-price,
.products .discontinued .product-price {
  font-size: 0.75rem;
  color: #777;
}

.products .tags {
  position: absolute;
  top: 5px;
  left: 5px;
}

.products .column:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)
}

.sort {
  align-items: center;
  font-size: 0.9rem;
}

/*
Mobile
*/
@media screen and (max-width: 769px) {
  .category-title {
    font-size: 1.25rem;
  }

  .products .product-caption {
    text-align: left;
  }

  .left-sidebar {
    background-color: #fff;
    padding: 0.75rem;
  }

  .attribute label {
    padding: 8px 0px 8px 8px;
    margin: 0px;
    background-color: #fff;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .attribute label:hover {
    background-color: inherit;
  }

  .attribute label:nth-child(even) {
    background-color: whitesmoke;
  }

  .products figure.image {
    height: auto !important;
  }
}
