.page-list {
  margin: 40px 0 0 0;
}
.page-item {
  margin: 0 0 30px 0;
  border-bottom: 1px solid #e5e5e5;
}
.page-item h2 {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}
.page-item h2 a:hover {
  text-decoration: underline;
}
.page-item .date {
  font-size: small;
  color: #aaa;
  margin: 0 0 10px 0;
}
.page-item .description {
  margin: 0 0 10px 0;
}
.page-item div:last-of-type {
  margin: 0 0 40px 0;
}
.page-list div:last-of-type {
  border-bottom: none;
}
.page-content a {
  text-decoration: underline;
}
