.servicesCover {
  width: 280px;
  height: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 2px 2px 0 0;
}

.more {
  padding: 40px 0;
  text-align: center;
}

.card:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3) !important;
}
