.form {
  width: 100%;
  margin: 20px;
  text-align: left;
}

.button {
  margin-left: 12px;
}

.toggle {
  margin-top: 12px;
  margin-bottom: 22px;
}

.innerBox {
  padding: 30px;
}

.childrenBox {
  padding: 0 30px 30px 30px;
}

.error {
  color: rgb(244, 67, 54);
}
