.style__login___3MJul {
  margin: 20px;
  padding: 30px;
  text-align: left;
}

.style__error___3BWNl {
  color: rgb(244, 67, 54);
}
.style__image___l0OSn {
  max-width: 80px;
  max-height: 80px;
  border: 1px solid #eee;
  margin: 6px 0;
}

.style__placeholder___cfLYv {
  width: 80px;
  text-align: center;
  border: 1px solid #eee;
  padding: 12px 0;
  margin: 6px 0;
}

.style__productName___1Snny {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.style__productName___1Snny small {
  color: rgba(0, 0, 0, 0.4);
}

.style__productActive___1jUNZ {
  color: rgb(0,142,180);
}

.style__productInactive___2GWBE {
  color: rgba(0, 0, 0, 0.3);
}

.style__sku___3HFgP {
  word-break: break-all;
}

.style__stock___1YSEM {
  word-break: break-all;
}

.style__inStock___9XEFV {
  color: rgb(122,179,23);
}

.style__outOfStock___3XqsV {
  color: rgb(228,86,53);
}

.style__backorder___N1lsV {
  color: rgb(251,184,41);
}

.style__preorder___1pnfd {
  /*color: rgb(228,86,53);*/
}

.style__discontinued___n8YFy {
  color: rgba(0, 0, 0, 0.3);
}

.style__price___2u0W0 {
  word-break: break-all;
  text-align: right;;
}

.style__price___2u0W0 small {
  display: block;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.style__more___3vyQ1 {
  padding: 40px 0;
  text-align: center;
}
.style__filter___2gUEy {
  padding: 0 16px;
}

.style__toggle___1TXx5 {
  margin-bottom: 16px;
}
.style__preview___1-vw- {
  position: relative;
  height: 220px;
  width: 200px;
  cursor: move;
}

.style__preview___1-vw- img {
  max-width: 100%;
  max-height: 100%;
}

.style__footer___QnrCG {
  background-color: rgba(0,0,0,0.05);
}

.style__dropzone___vqH6A {}
.style__dropzoneEmpty___1f7bv {
  color: #a1a1a1;
  font-size: 16px;
  border: 2px dashed rgba(0,0,0,0.1);
  padding: 40px;
  margin-left: 10px;
}
.style__dropzoneActive___2vhwj {
  background-color: rgba(18,179,117, 0.4);
}
.style__dropzoneReject___3btRw {
  background-color: rgba(244,67,54,0.8);
}
.style__dropzoneReject___3btRw .style__list___1wVgZ,
.style__dropzoneActive___2vhwj .style__list___1wVgZ {
  opacity: 0.3
}
.style__gallery___2zdrf {
  overflow: auto;
}

.style__list___1wVgZ {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}

.style__item___2Xy38 {
  margin: 10px 0px 10px 10px;
  padding: 0;
  list-style: none;
}
.style__form___1IGIC {
  margin: 20px;
  text-align: left;
}

.style__button___3t3u2 {
  margin-left: 12px;
}

.style__toggle___1aJt5 {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___2nSww {
  padding: 30px;
}

.style__childrenBox___3JFvE {
  padding: 0 30px 30px 30px;
}

.style__error___26Bes {
  color: rgb(244, 67, 54);
}
.style__preview___2gC-M {
  height: 220px;
  width: 200px;
}

.style__preview___2gC-M img {
  max-width: 100%;
  max-height: 100%;
}

.style__footer___37Hez {
  background-color: rgba(0,0,0,0.05);
}

.style__dropzone___3QKPr {
  cursor: pointer;
}
.style__dropText___1vLZc {
  color: #a1a1a1;
  font-size: 16px;
}
.style__dropzoneActive___1Ip7b {
  background-color: rgba(18,179,117, 0.4);
}
.style__dropzoneReject___1JRoS {
  background-color: rgba(244,67,54,0.8);
}
.style__dropzoneReject___1JRoS .style__preview___2gC-M img,
.style__dropzoneActive___1Ip7b .style__preview___2gC-M img {
  opacity: 0.3
}
.style__form___3J48K {
  margin: 20px;
  text-align: left;
}

.style__shortBox___2lfqJ {
  max-width: 300px;
}

.style__button___1sF40 {
  margin-left: 12px;
}

.style__toggle___3Fw7U {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___1WDS9 {
  padding: 30px;
}

.style__error___1-3Pl {
  color: rgb(244, 67, 54);
}
.style__customerName___121Q2 {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: rgb(0,142,180);
}

.style__customerName___121Q2 small {
  color: rgba(0, 0, 0, 0.4);
}

.style__price___279Q7 {
  word-break: break-all;
  text-align: right;;
}

.style__price___279Q7 small {
  display: block;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}

.style__more___3rmWj {
  padding: 40px 0;
  text-align: center;
}
.style__form___37DOj {
  margin: 20px;
  text-align: left;
}

.style__shortBox___2eWkt {
  max-width: 300px;
}

.style__button___2eb_z {
  margin-left: 12px;
}

.style__toggle___1fYi5 {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___Wxa8e {
  padding: 30px;
}

.style__error___3WGT8 {
  color: rgb(244, 67, 54);
}
.style__form___17ABx {
  width: 100%;
  margin: 20px;
  text-align: left;
}

.style__button___1We9P {
  margin-left: 12px;
}

.style__toggle___1pp44 {
  margin-top: 12px;
  margin-bottom: 22px;
}

.style__innerBox___1h51f {
  padding: 30px;
}

.style__childrenBox___1L3iW {
  padding: 0 30px 30px 30px;
}

.style__error___3Mx98 {
  color: rgb(244, 67, 54);
}

/*# sourceMappingURL=bundle-dbfd26962b1c02eaf514.css.map*/