html, body { height: 100%; margin: 0; padding: 0; background-color: #F9F9F9; box-sizing: border-box;}

#app, #container { height: 100%; }
#bodyContainer { overflow: hidden; }

.scroll { overflow: auto;}
.col-full-height { height: 100%; }

body, button, input, select, textarea {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row--no-gutter {
   margin-left: 0;
   margin-right: 0;
}

.col--no-gutter {
   padding-left: 0;
   padding-right: 0;
}

.col-categories {
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;
  position: relative;
}

.field-hint {
  color: #a1a1a1;
  font-size: 12px;
}

.buttons-box {
  text-align: right;
  padding: 30px;
  background-color: rgba(0,0,0,0.05);
  border-top: 1px solid #e0e0e0;
  /*color: #757575;*/
}

.blue-title {
  color: rgb(25, 118, 210);
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0 5px 0;
}

.mce-content-body {
  border-bottom: 1px solid rgb(224, 224, 224);
}

.mce-edit-focus {
  /*border-bottom: 2px solid rgb(25, 118, 210);*/
}

.block404 {
  text-align: center;
  margin-top: 40px;
}

.block404 .title {
  font-weight: 600;
  font-size: 80px;
  line-height: 90px;
  margin-bottom: 20px;
}

.block404 .description {
  color: rgba(0,0,0,0.4);
  font-size: 16px;
}
