.category-title {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.125;
}

.category-description {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  margin-top: 0.75rem;
}

.sort-title {
  color: #636363;
  text-align: right;
}

// .categories-tree {
// }
//
// .categories-tree ul {
//   margin: 0;
//   padding: 0;
// }
//
// .categories-tree ul ul {
//   display: none;
// }
//
// .categories-tree li {
//   margin: 0;
//   padding: 0 0 0 .75em;
//   list-style: none;
//   position: relative;
// }
//
// .categories-tree li a {
//   color: #7a7a7a;
//   margin: 0;
//   padding: 0;
//   line-height: 2.2;
//   display: block;
//   position: relative;
//   text-indent: 20px;
// }
//
// .categories-tree li a:hover {
//   color: #000;
// }
//
// .categories-tree li a.active {
//   color: #000;
//   background-color: rgba(0, 0, 0, 0.05);
// }
//
// .categories-tree li.active > ul {
//   display: block;
// }
//
// .categories-tree li.has-child > a:after {
//   content: "";
//   display: block;
//   position: absolute;
//   top: calc(50% - 10px);
//   left: 0;
//   width: 16px;
//   height: 19px;
//   background-position: -7px -2px;
//   background-image: url(/assets/images/arrow_right.svg);
// }
//
// .categories-tree li.active.has-child > a:after {
//   background-position: -4px -2px;
//   background-image: url(/assets/images/arrow_down.svg);
// }

.left-sidebar {
  background-color: whitesmoke;
  padding: 1.5rem;
}

.sidebar {
  z-index: 1000;
  background: #fff;
  overflow: auto;
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.categories-tree li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #333;
  padding-top: 6px;
  padding-bottom: 6px;
}

.price-filter {
  margin: 40px 0;
}

.price-filter-range {
  margin: 10px 0;
}

.price-filter-values {
  font-size: 0.75rem;
  color: #636363;
}

.load-more {
  margin: 30px 0;
}

.load-more button {
  max-width: 360px;
  margin: 0 auto;
}

.small-image-placeholder {
  background: #f7f7f7;
  height: 200px;
}

.large-image-placeholder {
  background: #f7f7f7;
  height: 160px;
}

.attribute {
  margin-bottom: 2rem;
}

.attribute-title {
  margin-bottom: 6px;
  color: #333;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
}

.attribute label {
  cursor: pointer;
  font-size: 0.75rem;
  padding: 2px 0px 0px 6px;
  margin: 2px 0px 0px 0px;
  color: #636363;
  align-items: center;
  display: flex;
  line-height: 1.2;
}

.attribute label:hover {
  background: rgba(0,0,0,0.05);
}

.attribute label.attribute-checked {
  color: #000;
}

.attribute label.attribute-disabled {
  color: #a1a1a1;
}

.attribute label input {
  margin-right: 6px;
}

.products {
  align-items: flex-end
}

.products figure.image {
  max-height: 280px;
  overflow: hidden;
}

.products .product-caption {
  text-align: center;
  margin-top: 0.25rem;
}

.products .product-name {
  color: #333;
  font-size: 0.9rem;
}

.products .product-price {
  color: #636363;
}

.products .product-old-price {
  padding-left: 10px;
  color: #636363;
}

.products .product-new-price {
  color: #e72b1e;
}

.sort {
  align-items: center;
  font-size: 0.9rem;
}

/*
Mobile
*/
@media screen and (max-width: 769px) {
  .category-title {
    text-align: center;
    font-size: 1.25rem;
  }

  .products .product-caption {
    text-align: left;
  }

  .left-sidebar {
    background-color: #fff;
    padding: 0.75rem;
  }

  .attribute label {
    padding: 8px 0px 8px 8px;
    margin: 0px;
    background-color: #fff;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .attribute label:hover {
    background-color: inherit;
  }

  .attribute label:nth-child(even) {
    background-color: whitesmoke;
  }
}
