.checkout-form {
  margin: 0;
  padding: 0;
}

.checkout-button {
  color: #fff;
  background-color: rgb(8, 179, 90);
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 14px 40px;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
}

.checkout-button:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

.checkout-button-wrap {
  text-align: center;
  margin-bottom: 30px;
}

.checkout-field {
  margin-bottom: 14px;
}

.checkout-field input[type="text"], .checkout-field input[type="email"], .checkout-field input[type="tel"], .checkout-field textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 12px 16px;
}

.checkout-field input[type="text"].invalid, .checkout-field input[type="email"].invalid, .checkout-field input[type="tel"].invalid, .checkout-field textarea.invalid {
  border: 1px solid #e96161;
}

.checkout-field input[type="text"]:focus, .checkout-field input[type="email"]:focus, .checkout-field input[type="tel"]:focus, .checkout-field textarea:focus {
  outline: none;
  border: 1px solid #a1a1a1;
}

.checkout-field label {
  font-size: 9pt;
  font-weight: normal;
  color: #747679;
  margin-bottom: .5em;
  display: block;
}

.checkout-field .error {
  font-size: 9pt;
  color: #e96161;
  margin-top: 6px;
}

.checkout-form h2 {
  font-size: 18px;
}

.shipping-methods, .payment-methods {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 14px;
}

.shipping-method, .payment-method {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-weight: normal;
  padding: 14px 16px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  margin: 0;
}

.shipping-method div, .payment-method div {
  flex-grow: 2;
}

.shipping-method input[type="radio"], .payment-method input[type="radio"] {
  margin-right: 16px;
}

.shipping-method:hover, .payment-method:hover {
  background-color: #f9f9f9;
}

.shipping-method small, .payment-method small {
  font-size: 12px;
  color: #747679;
}

.payment-method:last-child, .shipping-method:last-child {
  border-bottom: none;
}



.mini-cart {
  visibility: hidden;
  position: absolute;
  min-width: 200px;
  top: calc(100%);
  right: 0;
  background: #fff;
  z-index: 1;
  opacity: 0;
  box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.2);
  border: 1px solid #f3f3f3;
  border-width: 1px 0 0 1px;
  transition: all 200ms ease-in-out;
  padding: 20px;
  max-width: 500px;
  text-align: left;
  font-size: 90%;
}

.mini-cart.active {
  visibility: visible;
  opacity: 1;
  z-index: 99;
}

@media screen and (max-width: 768px)
.mini-cart {
  width: 100%;
}

.mini-cart-item-price {
  padding-bottom: 6px
}
